<?xml version="1.0" encoding="utf-8"?>
<!--
    AnimeKai extension manifest. Declares the application label and
    launcher icon (the icon is used by Aniyomi / AnymeX when listing
    extensions in the install dialog).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="AnimeKai"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher" />
</manifest>
